{% extends 'basic_app/base.html' %}


{% block body %}
	<div class="jumbotron">
		{% if registered %}
			<h1>Thank you for registering</h1>
		{% else %}
			<h1>Register Here!</h1>
			<h3>Fill out the form:</h3>
			<form enctype="multipart/form-data" method="post" >
				{% csrf_token %}
				<!-- Django Built in User Form -->
				{{ user_form.as_p }} 

				<!-- Profile form extended from User Builtin Form above -->
				{{ profile_form.as_p }}
				<input type="submit" name="Register">
			</form>
		{% endif %}
	</div>

{% endblock %}